In [131]:
import numpy as np
import pandas as pd
import scipy as sp
import scipy.stats as stats
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

In [69]:
# df = pd.read_csv('data/taxi_injury_counts.txt',usecols=lambda x: x.upper() in ['COL1', 'COL3'])
data = pd.read_table('data/taxi_injury_counts.txt',sep='\),', engine='python', header = None)

In [70]:
data = data.transpose()

In [71]:
data = data.iloc[1::2, :]

In [73]:
data = data.reset_index(drop=True)

In [93]:
data = data.rename(columns={0: 'AB'})

In [95]:
data['taxi counts'], data['injuries'] = data['AB'].str.split(',', 1).str

In [107]:
data['taxi counts'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
data['injuries'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')

In [108]:
data

             AB taxi counts injuries
0      (15, 10)          15       10
1       (13, 2)          13        2
2       (12, 1)          12        1
3       (30, 3)          30        3
4       (22, 1)          22        1
5      (28, 10)          28       10
6        (8, 2)           8        2
7       (31, 2)          31        2
8       (22, 2)          22        2
9       (19, 6)          19        6
10      (46, 2)          46        2
11      (58, 3)          58        3
12      (31, 2)          31        2
13      (13, 2)          13        2
14      (36, 2)          36        2
15      (22, 6)          22        6
16      (39, 1)          39        1
17      (11, 1)          11        1
18      (25, 1)          25        1
19      (18, 1)          18        1
20      (16, 3)          16        3
21      (24, 1)          24        1
22      (19, 1)          19        1
23      (19, 2)          19        2
24      (27, 2)          27        2
25      (33, 3)          33        3
26      (18, 1)          18        1
27      (31, 1)          31        1
28      (21, 1)          21        1
29      (34, 3)          34        3
..          ...         ...      ...
643     (30, 7)          30        7
644     (14, 1)          14        1
645     (27, 1)          27        1
646     (15, 1)          15        1
647     (38, 4)          38        4
648     (22, 1)          22        1
649     (24, 2)          24        2
650     (37, 1)          37        1
651     (14, 1)          14        1
652     (19, 1)          19        1
653     (26, 1)          26        1
654     (12, 1)          12        1
655     (32, 2)          32        2
656     (24, 2)          24        2
657     (24, 4)          24        4
658     (46, 9)          46        9
659     (11, 3)          11        3
660     (34, 1)          34        1
661     (28, 1)          28        1
662     (24, 7)          24        7
663     (25, 1)          25        1
664     (24, 1)          24        1
665     (21, 1)          21        1
666     (12, 1)          12        1
667      (9, 4)           9        4
668     (18, 1)          18        1
669     (18, 2)          18        2
670     (16, 5)          16        5
671     (77, 2)          77        2
672   (30, 1))]          30        1

[673 rows x 3 columns]

In [112]:
data2 = data

In [114]:
data2 = data2.drop('AB', 1)
data2=data2.astype(float)

In [115]:
data2

     taxi counts  injuries
0           15.0      10.0
1           13.0       2.0
2           12.0       1.0
3           30.0       3.0
4           22.0       1.0
5           28.0      10.0
6            8.0       2.0
7           31.0       2.0
8           22.0       2.0
9           19.0       6.0
10          46.0       2.0
11          58.0       3.0
12          31.0       2.0
13          13.0       2.0
14          36.0       2.0
15          22.0       6.0
16          39.0       1.0
17          11.0       1.0
18          25.0       1.0
19          18.0       1.0
20          16.0       3.0
21          24.0       1.0
22          19.0       1.0
23          19.0       2.0
24          27.0       2.0
25          33.0       3.0
26          18.0       1.0
27          31.0       1.0
28          21.0       1.0
29          34.0       3.0
..           ...       ...
643         30.0       7.0
644         14.0       1.0
645         27.0       1.0
646         15.0       1.0
647         38.0       4.0
648         22.0       1.0
649         24.0       2.0
650         37.0       1.0
651         14.0       1.0
652         19.0       1.0
653         26.0       1.0
654         12.0       1.0
655         32.0       2.0
656         24.0       2.0
657         24.0       4.0
658         46.0       9.0
659         11.0       3.0
660         34.0       1.0
661         28.0       1.0
662         24.0       7.0
663         25.0       1.0
664         24.0       1.0
665         21.0       1.0
666         12.0       1.0
667          9.0       4.0
668         18.0       1.0
669         18.0       2.0
670         16.0       5.0
671         77.0       2.0
672         30.0       1.0

[673 rows x 2 columns]

In [2]:
data2.plot.scatter(x='taxi counts', y='injuries', style='o')

NameError: name 'data2' is not defined

In [140]:
import statsmodels.api as sm
data2['injuries'] = 1
model = sm.OLS(data2['taxi counts'], data2[['injuries','taxi counts',]])
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            taxi counts   R-squared:                        -inf
Model:                            OLS   Adj. R-squared:                   -inf
Method:                 Least Squares   F-statistic:                      -inf
Date:                Wed, 17 May 2017   Prob (F-statistic):                nan
Time:                        11:07:46   Log-Likelihood:                 22097.
No. Observations:                 673   AIC:                        -4.419e+04
Df Residuals:                     672   BIC:                        -4.419e+04
Df Model:                           0
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------
injuries        0.5000   2.57e-17   1.95e+16      0.000         0.500     0.500
taxi counts     0.5000   2.57e-17   1.95e+16      0.000         0.500     0.500
==============================================================================
Omnibus:                        1.008   Durbin-Watson:                   0.000
Prob(Omnibus):                  0.604   Jarque-Bera (JB):              252.375
Skew:                           0.000   Prob(JB):                     1.58e-55
Kurtosis:                       0.000   Cond. No.                     1.39e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.98e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""